/**
    ____    __          ____   __
  / __  /  / /_  ____ _/ / /  / /__   __
 / __  /  / __ \/ __ `/ / /  / __/ | / /
/ /_/ /  / /_/ / /_/ / / /  / /_ | |/ /
\____/  /_.___/\__,_/_/_/   \__/ |___/

WRITTEN BY GIUSEPPE FURCOLO / NYC / NOV 2016
UPDATED BY BHAVIK SINGH / NYC / DEC 2019 - 

*/

@font-face {
    font-family: teletext;
    src: url(Px437_IBM_EGA8.ttf);
}

@font-face {
    font-family: bigly;
    src: url(Px437_DTK_BIOS.ttf);
}

body {
    background-color: black;
    border: 0;
    padding: 0;
    margin: 0;
    color: #f400ff;
    font-size: 28px;
    font-family: teletext;
}

h1 {
    text-align: center;
    font-size: 20px;
    color: #000;
}

h2 {
    text-align: center;
    font-size: 20px;
    color: #00ff00;
}

#loader {
    background: rgba(0, 0, 0, 0.8);
    color: #00ff00;
    text-align: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 501;
    padding-top: 20%;
    box-sizing: border-box;
    font-size: 32px;
}

.white {
    color: white;
}

.pink {
    color: #f400ff;
}

.blue {
    color: #38ffff;
}

.green {
    color: #00ff00;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.output {
    color: yellow;
}

.output a {
    color: pink;
    text-decoration: none;
}

.liveplayer-container {
    width: 100%;
    height: 95%;
    height: calc(100% - 72px);
}

.liveplayer-container iframe {
    width: 100%;
    height: 100%;
}

video {
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
}

.container.collections video {
    height: calc(100% - 72px);
    width: auto;
    margin: 0 auto;
    transform: translateX(calc(0.5 * (100vw - 100%)));
}

.container {
    position: absolute;
    z-index: 2;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid black;
    box-sizing: border-box;
    animation: none;

}

.container.live {
    border: 4px solid yellow;
    animation: 10s linear 0s infinite fadeborder;
}

@keyframes fadeborder {
    0% {
        border-color: yellow;
    }
    33% {
        border-color: #00ff00;
    }
    66% {
        border-color: #f400ff;
    }
}
.canal {
    position: absolute;
    z-index: 2;
    margin: 0;
    padding: 0;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    //display:none;
}

#admindata {
    //position: absolute;
    //z-index:2;
    padding: 40px 38px 40px 38px;
    //  width: 100%;
    // height: 100%;
    //display:none;
}

#head {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
    color: #fff;
    font-size: 18px;
    font-family: teletext;
}

.connecting {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    color: #00ff00;
    font-size: 18px;
    font-family: teletext;
    text-align: center;
}

.dot1 {
    opacity: 0;
    animation: DOT1 1s linear infinite;
}

@keyframes DOT1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.dot2 {
    opacity: 0;
    animation: DOT2 1s 1s linear infinite;
}

@keyframes DOT2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.dot3 {
    opacity: 0;
    animation: DOT3 1s 2s linear infinite;
}

@keyframes DOT3 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.titlebox {
    position: absolute;
    z-index: 60;
    bottom: 20px;
    left: 20px;
    height: 38px;
    width: auto;
    border: 2px solid #f400ff;
    -webkit-box-shadow: -6px 6px 0px 0px rgba(244, 0, 255, 1);
    -moz-box-shadow: -6px 6px 0px 0px rgba(244, 0, 255, 1);
    box-shadow: -6px 6px 0px 0px rgba(244, 0, 255, 1);
    background-color: rgba(00, 00, 00, 0.3);
    color: #00ff00;
    padding: 0 12px 0 12px;
    display: table-cell;
    font-family: teletext;
    font-size: 16px;
    /* //line-height: 20px; */
    text-align: left;
}

#title {
    /* position: absolute; */
    bottom: 6px;
}

.chat-button {
    height: 38px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 120px;
    z-index: 102;
    border: 2px solid #f400ff;
    -webkit-box-shadow: -6px 6px 0px 0px rgba(244, 0, 255, 1);
    -moz-box-shadow: -6px 6px 0px 0px rgba(244, 0, 255, 1);
    box-shadow: -6px 6px 0px 0px rgba(244, 0, 255, 1);
    background-color: rgba(00, 00, 00, 0.3);
    color: #00ff00;
    padding: 0 12px 0 12px;
    display: table-cell;
    font-family: teletext;
    font-size: 18px;
    /* opacity lower bc chat is broken */
    opacity: .4;
}
/* tooltip that explains that the chat feature is currently broken */
.chat-button::before {
    content: "Chat feature is currently broken 💔";
    position: absolute;
    bottom: calc(100% + 20px);
    left: 50%;
    transform: translateX(-50%);
    background: black;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    z-index: 103;
    border: 1px solid #f400ff;
}

/* Show tooltip on hover */
.chat-button:hover::before {
    opacity: 1;
}

#chat a:hover {
    color: #f400ff;
}

.schedulebox,
.collection-button {
    height: 38px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 200px;
    z-index: 102;
    border: 2px solid #f400ff;
    -webkit-box-shadow: -6px 6px 0px 0px rgba(244, 0, 255, 1);
    -moz-box-shadow: -6px 6px 0px 0px rgba(244, 0, 255, 1);
    box-shadow: -6px 6px 0px 0px rgba(244, 0, 255, 1);
    background-color: rgba(00, 00, 00, 0.3);
    color: #00ff00;
    padding: 0 12px 0 12px;
    display: table-cell;
    font-family: teletext;
    font-size: 18px;
}

.collectionlink-button,
.home-button {
    height: 38px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 320px;
    z-index: 102;
    border: 2px solid #f400ff;
    -webkit-box-shadow: -6px 6px 0px 0px rgba(244, 0, 255, 1);
    -moz-box-shadow: -6px 6px 0px 0px rgba(244, 0, 255, 1);
    box-shadow: -6px 6px 0px 0px rgba(244, 0, 255, 1);
    background-color: rgba(00, 00, 00, 0.3);
    color: #00ff00;
    padding: 0 12px 0 12px;
    display: table-cell;
    font-family: teletext;
    font-size: 18px;
}

.home-button {
    right: 350px;
}

.titlebox:hover {
    cursor: pointer;
}

#schedule a {
    //position: absolute;
    bottom: 6px;
}

#schedule a:hover {
    color: #f400ff;
}

#turn-sound-on {
    cursor: pointer;
    position: absolute;
    width: 38px;
    height: 38px;
    bottom: 20px;
    right: 64px;
    z-index: 102;
    background-image: url(s_on.png);
    background-repeat: no-repeat;
    background-color: rgba(00, 00, 00, 0.3);
    background-size: 38px 38px;
    color: #00ff00;
    border: 2px solid #f400ff;
    -webkit-box-shadow: -6px 6px 0px 0px rgba(244, 0, 255, 1);
    -moz-box-shadow: -6px 6px 0px 0px rgba(244, 0, 255, 1);
    box-shadow: -6px 6px 0px 0px rgba(244, 0, 255, 1);
    display: inline;
}

#turn-sound-off {
    cursor: pointer;
    position: absolute;
    width: 38px;
    height: 38px;
    bottom: 20px;
    right: 64px;
    z-index: 102;
    background-image: url(s_off.png);
    background-repeat: no-repeat;
    background-size: 38px 38px;
    color: #00ff00;
    background-color: rgba(00, 00, 00, 0.3);
    border: 2px solid #f400ff;
    -webkit-box-shadow: -6px 6px 0px 0px rgba(244, 0, 255, 1);
    -moz-box-shadow: -6px 6px 0px 0px rgba(244, 0, 255, 1);
    box-shadow: -6px 6px 0px 0px rgba(244, 0, 255, 1);
    display: none;
}

#enter-fullscreen {
    cursor: pointer;
    position: absolute;
    width: 38px;
    height: 38px;
    bottom: 20px;
    right: 10px;
    z-index: 102;
    background-image: url(full.png);
    background-repeat: no-repeat;
    background-color: rgba(00, 00, 00, 0.3);
    background-size: 38px 38px;
    color: #00ff00;
    border: 2px solid #f400ff;
    -webkit-box-shadow: -6px 6px 0px 0px rgba(244, 0, 255, 1);
    -moz-box-shadow: -6px 6px 0px 0px rgba(244, 0, 255, 1);
    box-shadow: -6px 6px 0px 0px rgba(244, 0, 255, 1);
    display: inline;
}

#exit-fullscreen {
    cursor: pointer;
    position: absolute;
    width: 38px;
    height: 38px;
    bottom: 20px;
    right: 10px;
    z-index: 102;
    background-image: url(full_off.png);
    background-repeat: no-repeat;
    background-size: 38px 38px;
    color: #00ff00;
    background-color: rgba(00, 00, 00, 0.3);
    border: 2px solid #f400ff;
    -webkit-box-shadow: -6px 6px 0px 0px rgba(244, 0, 255, 1);
    -moz-box-shadow: -6px 6px 0px 0px rgba(244, 0, 255, 1);
    box-shadow: -6px 6px 0px 0px rgba(244, 0, 255, 1);
    display: none;
}

.pinkborder {
    border: 3px solid #f400ff;
}

.redshad {
    text-shadow: 4px 4px 0px #000, 8px 8px 0px #f400ff, 12px 12px 0px #000, 16px 16px 0px #f400ff;
}

.riga {
    border-top: 4px dotted #f400ff;
}

.riga_end {
    border-top: 4px solid #f400ff;
}

#TICKER {
    position: fixed;
    height: 100px;
    background-color: black;
}

#TICKERadmin {
    position: relative;
    height: 100px;
    background-color: black;
}

#tickerleft {
    width: 32%;
    font-size: 28px;
    font-family: teletext;
    text-align: left;
    padding: 0 18px 0 18px;
    border: 3px solid #f400ff;
    //border-style: none solid none solid;
}

#tickerleft a {
    color: #f400ff;
    text-decoration: none;
}

#tickercenter {
    width: 32%;
    font-size: 22px;
    font-family: bigly;
    text-align: center;
    padding: 0 18px 0 18px;
    border: 3px solid #f400ff;
    //border-style: none solid none solid;
}

#tickerright {
    width: 32%;
    font-size: 18px;
    font-family: teletext;
    text-transform: uppercase;
    text-align: right;
    padding: 0 18px 0 18px;
    border: 3px solid #f400ff;
    //border-style: none solid none solid;
}

#tickerrightADMIN {
    width: 32%;
    font-size: 48px;
    font-family: teletext;
    text-transform: uppercase;
    text-align: right;
    padding: 0 18px 0 18px;
    border: 3px solid #f400ff;
    //border-style: none solid none solid;
}

#HEADWEEKLY {
    position: fixed;
    top: 100px;
    height: 100px;
    background-color: #f400ff;
}

#headcenter {
    font-size: 28px;
    text-transform: uppercase;
    font-family: bigly;
    //text-decoration:underline;
    color: black;
    text-align: center;
    //padding: 0 28px 0 28px;
}

#headleft {
    text-align: left;
    padding-left: 10px;
}

#headright {
    text-align: right;
}

#WEEK {
    position: fixed;
    top: 200px;
    height: 60px;
    background-color: black;
}

.week {
    width: 14%;
    color: yellow;
    font-size: 12px;
    text-transform: uppercase;
    font-family: bigly;
    text-align: center;
    padding: 10px 8px 10px 8px;
    border: 4px solid #f400ff;
}

.week a {
    font-size: 14px;
    color: yellow;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.week a:hover {
    font-size: 14px;
    color: #f400ff;
    text-transform: uppercase;
}

.selected {
    width: 14%;
    color: yellow;
    font-size: 20px;
    text-transform: uppercase;
    font-family: bigly;
    text-align: center;
    padding: 10px 8px 10px 8px;
    border: 4px #f400ff;
    border-style: solid solid none solid;
    cursor: default;
}

.selected a {
    width: 14%;
    color: yellow;
    font-size: 20px;
    text-decoration: none;
}

#TODAY {
    margin-top: 250px;
}

#HOURS {}

.hourno {
    width: 6%;
    color: yellow;
    font-size: 32px;
    font-family: teletext;
    text-align: center;
    padding: 0 16px 0 16px;
    border: 4px #f400ff;
    border-style: none none none solid;
}

.hourblock {
    //width:14%;
    color: yellow;
    font-size: 20px;
    font-family: teletext;
    text-align: center;
    padding: 10px 8px 10px 8px;
    border: 4px #f400ff;
    border-style: none solid none solid;
}

#TODAY {}

.quarter {
    width: 14%;
    color: #00ff00;
    font-size: 32px;
    font-family: teletext;
    text-align: right;
    padding: 10px 0 10px 0;
}

.titler {
    color: #38ffff;
    /* //background-color: yellow; */
    font-size: 26px;
    font-family: teletext;
    text-align: left;
    padding: 10px 0 10px 0;
    border: 0 #000;
    border-style: solid solid solid solid;
}

.titler .live {
    background: #f400ff;
    color: white;
    font-size: 20px;
    padding: 3px;
    margin-top: -2px;
    margin-right: 12px;
}

.ident {
    color: black;
    background: white;
    padding: 2px 10px;
}

#MID {
    font-size: 40px;
    font-family: bigly;
    text-align: center;
    padding: 30px 0 50px 0;
    border-top: 16px solid #f400ff;
    border-bottom: 16px solid #f400ff;
}

.midshad {
    color: #00ff00;
    text-shadow: 4px 4px 0px #000, 8px 8px 0px #f400ff, 12px 12px 0px #000, 16px 16px 0px #f400ff, 20px 20px 0px #000, 24px 24px 0px #f400ff;
    text-decoration: none;
}

#ABOUT {
    height: 200px;
    //background-color: #f400ff ;
}

#aboutleft {
    width: 20%;
    text-align: left;
    //border: 3px solid #f400ff;
}

#aboutcenter {
    font-size: 18px;
    //color: #f400ff;
    color: yellow;
    font-family: bigly;
    text-align: left;
    line-height: 38px;
    padding: 18px 18px 18px 18px;
    border: 4px solid #f400ff;
    text-transform: uppercase;
}

#aboutright {
    width: 20%;
    text-align: right;
    //border: 3px solid #f400ff;
}

#TEAM {
    height: 200px;
    background-color: #38ffff;
    border: 12px solid #f400ff;
}

#teamleft {
    width: 10%;
    line-height: 38px;
    padding: 18px 18px 18px 18px;
    text-transform: uppercase;
    //border: 3px solid #f400ff;
}

#teamcenter {
    font-size: 18px;
    color: #f400ff;
    font-family: bigly;
    text-align: left;
    line-height: 32px;
    padding: 18px 18px 18px 18px;
    //border: 8px solid #f400ff;
    text-transform: uppercase;
}

.centered {
    text-align: center;
}

#teamright {
    width: 10%;
    text-align: right;
    //border: 3px solid #f400ff;
}

.terms {
    font-size: 24px;
    color: #f400ff;
    font-family: teletext;
    text-align: left;
    line-height: 32px;
    padding: 18px 38px 18px 38px;
    //border: 8px solid #f400ff;
    //text-transform:uppercase;
}

.terms a {
    font-size: 24px;
    color: #f400ff;
    font-family: teletext;
    text-align: left;
    line-height: 32px;
    //padding: 18px 38px 18px 38px;
    ////border: 8px solid #f400ff;
    //text-transform:uppercase;
}

#FOOTER {
    height: 100px;
    background-color: black;
}

#footerleft {
    width: 23%;
    font-size: 28px;
    font-family: teletext;
    text-align: left;
    padding: 0 18px 0 18px;
    border: 3px solid #f400ff;
}

#footerleft a {
    color: #f400ff;
    text-decoration: none;
}

#footercenter {
    width: 32%;
    font-size: 36px;
    font-family: bigly;
    text-align: center;
    padding: 0 18px 0 18px;
    border: 3px solid #f400ff;
}

#footerright {
    width: 32%;
    font-size: 18px;
    font-family: bigly;
    color: #00ff00;
    text-transform: uppercase;
    text-align: right;
    padding: 0 18px 0 18px;
    border: 3px solid #f400ff;
}

#footerright a {
    color: #00ff00;
    text-align: right;
}

#footerright a {
    color: #00ff00;
    text-align: right;
}

.last {
    font-size: 20px;
    font-family: teletext;
    text-align: center;
    color: #f400ff;
    padding: 4px 18px 18px 18px;
}

.info {
    text-decoration: none;
    color: #38ffff;
}

.info a {
    color: #38ffff;
}

.popup {
    display: none;
    position: fixed;
    z-index: 999;
    width: 80%;
    height: 200px;
    left: 1px;
    bottom: 40px;
    background-color: white;
}

#LISTER {
    margin-top: 250px;
}

ul {
    padding: 10px;
    line-height: 30px;
}

.results {
    width: 60%;
    color: yellow;
    font-size: 20px;
    font-family: teletext;
    text-align: left;
    padding: 10px 8px 10px 8px;
    border: 4px #f400ff;
    //border-style: none solid none solid;
}

.requests {
    width: 40%;
    color: yellow;
    font-size: 20px;
    font-family: teletext;
    text-align: right;
    padding: 10px 8px 10px 8px;
    border: 4px #f400ff;
    //border-style: none solid none solid;
}


/*INFO MODAL*/

.infos {
    position: absolute;
    z-index: 200;
    left: 20px;
    right: 10px;
    bottom: 76px;
    top: 200px;
    padding: 32px 20px 20px 20px;
    background: rgba(0, 0, 0, 0.7);
    font-size: 24px;
    line-height: 20px;
    text-align: left;
    border: 2px solid #f400ff;
    -webkit-box-shadow: -6px 6px 0px 0px rgba(244, 0, 255, 1);
    -moz-box-shadow: -6px 6px 0px 0px rgba(244, 0, 255, 1);
    box-shadow: -6px 6px 0px 0px rgba(244, 0, 255, 1);
    display: table-cell;
    overflow: scroll;
    color: #00ff00;
}

#close_modal {
    position: absolute;
    z-index: 200;
    right: 20px;
    top: 20px;
    font-size: 36px;
}

#close_modal:hover {
    cursor: pointer;
}

.title_content {
    position: absolute;
    z-index: 200;
    top: 20px;
    font-family: teletext;
    //padding-left: 20px;
    font-size: 30px;
    line-height: 20px;
    text-align: left;
}

.hidden-div {
    display: none;
}

.visible-div {
    display: block;
}

.infos a:link {
    color: yellow;
}

.infos a:hover {
    color: white;
}

.duration {
    font-size: 20px;
    margin-left: 1rem;
}

.floating-box {
    position: absolute;
    z-index: 500;
    top: 32px;
    left: 32px;
}

.floating-box .reposition-container {
    position: absolute;
    background: black;
    width: 38px;
    height: 38px;
    top: -16px;
    left: -16px;
    background-image: url("move.png");
    cursor: move;
}

#chatbox-container {
    visibility: hidden;
}

z #chatbox-container iframe {
    border: 4px solid #f400ff;
    border-right: 3px solid #f400ff;
}

#collectionbox-container {
    width: 50%;
    background: black;
    visibility: hidden;
}

#collection-container {
    padding: 24px;
    padding-top: 32px;
    max-height: 70vh;
    overflow-y: scroll;
}


/* width */

#collection-container::-webkit-scrollbar {
    width: 20px;
}


/* Track */

#collection-container::-webkit-scrollbar-track {
    border-radius: 2px;
}


/* Handle */

#collection-container::-webkit-scrollbar-thumb {
    background: #f400ff;
    border-radius: 2px;
    border: 8px solid black;
}

#collection-container .collection,
#collection-container .video-info {
    border-bottom: 2px dotted #f400ff;
    margin-top: 24px;
    padding-bottom: 16px;
    cursor: pointer;
}

#collection-container .collection:hover,
#collection-container .video-info:hover {
    text-shadow: 2px 2px #f400ff;
}

#collection-container .collection:last-child {
    border-bottom: none;
}

#collection-container .titler {
    padding: 0px;
    width: 80%;
}

#collection-container .body {
    color: #00ff00;
    font-size: 16px;
}

#collection-container .length {
    float: right;
    font-size: 16px;
    margin-top: 6px;
    color: yellow;
}

#collection-container .back {
    float: right;
    cursor: pointer;
    color: #00ff00;
}